# Files to globally generally ignore
.DS_Store
Thumbs.db

# Specific files / paths to ignore
/docs
/stats
/app/config/database.php
/app/config/core.php
/app/config/environment.php
/app/tmp
#/app/views/templates
/app/webroot/files
/app/sql_updates.txt
/app/webroot/js/aggregate
/app/webroot/css/aggregate
/vendors/shells/debuggable_bake.php
/vendors/shells/tasks/debuggable_controller.php
/vendors/shells/tasks/debuggable_fixture.php
/vendors/shells/tasks/debuggable_model.php
/vendors/shells/tasks/debuggable_plugin.php
/vendors/shells/tasks/debuggable_project.php
/vendors/shells/tasks/debuggable_test.php
/vendors/shells/tasks/debuggable_view.php
sql_updates.txt
/app/views/pages/uuid.ctp
/vendors/OpenInviter/openinviter_stats.sqlite
/vendors/OpenInviter/tmp/
