/***********************************************************************************
 * Default GPI Donation page CSS
 * @author: white rabbit team rocket!
 * appeal.name: default
 * appeal.id: 4a686dd2-8c64-45a0-99ee-4507a7f05a6e
/***********************************************************************************
 * Website Commons
 ***********************************************************************************/
* {
	margin:0;
	padding:0;
}
html, body {
	background: #EED;
	font-family:verdana, helvetica, arial, sans-serif;
	margin:0;
	padding:0;
}
body {
	font-size:80%;
}

/* spacers */
.clear {
	clear: both;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clear_left {
	clear:left;
}

/* links */
a {
	color: #003300;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #eb6528;
}
a img {
	border:none;
}

/* titles */
h1, h2, h3, h4 {
	font-weight: normal;
  font-family:'Helvetica Neue', helvetica, arial, sans-serif;
}
h2{
	font-size:1.7em;
	margin:0 0 3px 0;
  line-height:1.2em;
  color:#777;
}
h3{
  font-size:1.6em;
  color:#777;
}

/* lists */
ul, li {
}

/* paragraphs */
p{
	font-size:1.1em;
}
.required{
	color:#CCC;
	font-weight:bold;
}
strong.required{
	color:#FF6600;
	font-weight:bold;
}

/* Forms */
form {
  clear: both;
  margin:0;
  padding:0;
}
fieldset {
  border: 1px solid #DDD;
  margin-top: 10px;
  padding: 0px 20px 15px 10px;
}
fieldset legend {
  background:#FFF;
  font-size: 1.5em;
  padding: 0 10px;
  color:#777;
}
fieldset fieldset {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px 10px;
}
fieldset fieldset legend {
  font-size: 120%;
  font-weight: normal;
}
fieldset fieldset div {
  clear: left;
  margin: 0 10px;
}
form div {
  clear: both;
  margin:0;
  padding:5px;
  vertical-align: text-top;
}

/* generic input stuffs */
form div.input {
  color: #444;
}
form div.submit{
  border: 0;
  clear: none;
}
input[type=submit] {
  display: inline;
  font-size: 150%;
  padding: 5px 15px;
  margin:5px 0px 5px 5px;
  width: auto;
  vertical-align: bottom;
  float:right;
}
label {
  display: block;
  font-size: 1.2em;
  padding: 5px 0px;
}
input, textarea {
  clear: both;
  font-size: 140%;
  font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
  padding: 2px;
  width: 100%;
}
select {
  clear: both;
  font-size: 120%;
  vertical-align: text-bottom;
}
select[multiple=multiple] {
  width: 100%;
}
option {
  font-size: 120%;
  padding: 0 3px;
}
input.checkbox, input[type=checkbox]  {
  font-size:1.3em;
  padding:0 10px;
  margin:0.4em 5px 0px 5px;
  clear: left;
  float: left;
  width: auto;
}
input[type=radio] {
  float:left;
  width:auto;
  margin: 2px 7px 0 0;
}
div.radio label {
  margin: 0 0 0 0;
}
form input[type=text], form textarea{
	border:2px solid #CCC;
}
form input[type=text]:focus, form textarea:focus{
	border:2px solid #AAA;
}
form .error input{
	border:2px solid #FF6600;
}
form .error .error-message{
	color:#FF6600;
	font-size:1.1em;
	padding-bottom:0;
	margin-bottom:0;
}

/***********************************************************************************
 * Layout 
 ***********************************************************************************/
#container{
  width:749px;
  margin:auto;
  background:#FFF;
  margin-bottom:10px;
}

/* main content (form++) */
#content_wrapper{
}
#content{
	float:left;
  width:730px;
  margin: 0;
  padding:5px;
  background: #FFF;
  margin-left:4px;
}
#content .right{
	float:right;
}
#content .left{
	float:left;
}
#content form .input_wrapper{
	float:left;
	margin:0;
	padding:0;
	width:auto;
}
#content form .input_wrapper.half{
	float:left;
	width:277px;
	margin:0;
	clear:none;
}
#content form .input_wrapper.half input[type=text], 
#content form .input_wrapper.half textarea{
	max-width:250px;
}
#content form .input_wrapper.full{
	width:530px;
}

/* special fieldset layout */
#content #gift_type{
	width:330px;
	float:left;
}
#content #gift_type .input_wrapper.radio{
	clear:both;
	padding:0 0 0 5px;
}
#content #gift_type .input_wrapper.radio label{
	float:left;
	clear:none;
	padding:0 20px 0 5px;
}
#content #gift_type .input_wrapper.radio label.option_title{
	display:block;
	float:none;
	padding:5px 0 10px 0;
}
#content #gift_type .input_wrapper.radio#other_amount{
	width:300px;
	clear:none;
	float:left;
	margin:10px 0 0 0;
}
#content #gift_type .input_wrapper.radio#other_amount input.text{
	clear:none;
	float:left;
	width:50px;
	font-size:1em;
}
#content #gift_type .input_wrapper.radio#other_amount .input.select{
	clear:none;
	float:left;
	padding:0 0 0 2px;
	font-size:0.8em;
	margin:0;
}

/* decoration / content */
.message{
	margin:7px 5px 0px 5px;
	padding-left:23px;
	color:#555;
}
.message.information{
	background:#FFF url(/img/icons/S/help.png) left center no-repeat;
}
.message.information strong.required{
	font-size:1.3em;
	vertical-align: bottom;
}
.message.error{
	color:#FF6600;
	margin:7px 5px 0px 0px;
	padding:15px 0 15px 35px;
	background:#FEE url(/img/icons/S/error.png) 8px center no-repeat;
	font-weight:bold;
	border:1px solid #FF6600;
	border-right:0;
	border-left:0;
}
#content #activist{
	float:left;
	clear:none;
	width:338px;
	background:#FFF url(/img/4a686dd2-8c64-45a0-99ee-4507a7f05a6e/activist.jpeg) center center no-repeat;
	margin:22px 5px 0 15px; 
	padding:0;
}
#content #activist p{
	margin:122px 0 0 0;
	background-color:#ff6600;
	color:#FFF;
	font-size:1.1em;
	padding:7px;
	font-weight:bold;
}
#content #earth{
	width:370px;
	background:#FFF url(/img/4a686dd2-8c64-45a0-99ee-4507a7f05a6e/earth.jpg) -130px -35px no-repeat;
	margin: 20px 5px 0 15px; 
	padding:0;
}
#content #earth p{
	margin:150px 0 0 0;
	background-color:#ff6600;
	color:#FFF;
	font-size:1.1em;
	padding:7px;
	font-weight:bold;
}
#content .mission{
	font-size:1.35em;
	line-height: 1.5em;
	color:#777;
	padding-left:7px;
}
#content .mission strong{
	color:#FF6600;
}
/* banner */
#banner{
	float:left;
	padding:5px;
	padding-bottom:0;
}
#banner a{
	float:left;
	height:80px;
	margin: 0px;
}
#banner a.greenpeace{
	width:151px;
	background: url(/img/4a686dd2-8c64-45a0-99ee-4507a7f05a6e/banner.png) 0 0 no-repeat;
}
#banner a.donate{
	width:588px;
	background: url(/img/4a686dd2-8c64-45a0-99ee-4507a7f05a6e/banner.png) -152px 0 no-repeat;
}
#banner a span{
	visibility:hidden;
}
#banner h1{
	display:none;
}

/* footer */
#footer {
  color:#FFF;
  background:#66CC00 url(/img/layout/gplogobottomright.gif) center right no-repeat;
  padding: 5px 10px;
  text-align: left;
  margin: 5px;
  border-bottom:5px solid white;
}
#footer a{
	color:#FFF;
}
#footer a:hover{
	color: #006600;
}
#footer ul.links li{
	list-style-type:none;
	display:inline;
	padding:0 7px;
}