/***********************************************************************************
 * CEOs landing page
 ***********************************************************************************/
.status {
  font-size: 80%;
}
.assessment p, .take-action p {
  margin-bottom: 10px;
}
.summary {
  padding-bottom: 20px;
}
.solutions, .speech, .advocacy, .renewables, .emissions {
  padding-left: 50px;
  padding-bottom: 20px;
}
.solutions {
  background: url("http://www.greenpeace.org/international/assets/graphics/solutions.gif") no-repeat;
}
.speech {
  background: url("http://www.greenpeace.org/international/assets/graphics/speech.gif") no-repeat;
}
.advocacy {
  background: url("http://www.greenpeace.org/international/assets/graphics/advocacy.gif") no-repeat;
}
.renewables {
  background: url("http://www.greenpeace.org/international/assets/graphics/renewables.gif") no-repeat;
}
.emissions {
  background: url("http://www.greenpeace.org/international/assets/graphics/emissions.gif") no-repeat;
}
.assessment h2 {
  border-bottom: 5px solid #999999;
  margin-bottom: 10px;
}
.take-action h2 {
  border-bottom: 5px solid #FF6600;
  margin-bottom: 10px;
}
.seeothers {
  width: 40%;
  margin-left: 10px;
  padding: 10px;
  float: right;
  background-color: #FF6600;
}
.seeothers h3, .seeothers a, .seeothers {
color: #FFFFFF;
}
.seeothers ul {
 list-style-type:square;
}
.seeothers a {
  text-decoration: underline;
  font-weight: normal;
}
.referrerlinks {
  background-color: lightblue;
  padding: 10px;
}
ul.referer_list { 
  padding: 0; 
  margin: 0; 
  list-style-position: inside; 
}
li.referer_item { 
  margin: 0.4em 0; 
}
a.referer {
  font-weight: normal; 
  font-size: 70%;
}
.cards {
  margin-top: 10px;
  margin-bottom: 20px;
}
