/**********************************************************/
/* @name: msie.css                                        */
/* @desc: for IE6 hostages                                */
/**********************************************************/

html input{
  width:auto;  
}
html #container{
  margin-top:-20px;
}
html #container .landing_page{
	width:578px;
}
html .widget.wide{
	width:560px;
}
html .leaders .loading_bar {
  padding:0;
  margin:0;
  margin-right:3px;
}
html .leaders ul li.cisco a:hover{
	background: #f1f1f1 url(/img/leaders/S/cisco.jpg) 3px 3px no-repeat;
}
html .leaders ul li.dell a:hover{
	background: #f1f1f1 url(/img/leaders/S/dell.jpg) 3px 3px no-repeat;
}
html .leaders ul li.fujitsu a:hover{
	background: #f1f1f1 url(/img/leaders/S/fujitsu.jpg) 3px 3px no-repeat;
}
html .leaders ul li.google a:hover{
	background: #f1f1f1 url(/img/leaders/S/google.jpg) 3px 3px no-repeat;
}
html .leaders ul li.h_p a:hover{
	background: #f1f1f1 url(/img/leaders/S/hp.jpg) 3px 3px no-repeat;
}
html .leaders ul li.i_b_m a:hover{
	background: #f1f1f1 url(/img/leaders/S/ibm.jpg) 3px 3px no-repeat;
}
html .leaders ul li.intel a:hover{
	background: #f1f1f1 url(/img/leaders/S/intel.jpg) 3px 3px no-repeat;
}
html .leaders ul li.microsoft a:hover{
	background: #f1f1f1 url(/img/leaders/S/microsoft.jpg) 3px 3px no-repeat;
}
html .leaders ul li.nokia a:hover{
	background: #f1f1f1 url(/img/leaders/S/nokia.jpg) 3px 3px no-repeat;
}
html .leaders ul li.panasonic a:hover{
	background: #f1f1f1 url(/img/leaders/S/panasonic.jpg) 3px 3px no-repeat;
}
html .leaders ul li.sharp a:hover{
	background: #f1f1f1 url(/img/leaders/S/sharp.jpg) 3px 3px no-repeat;
}
html .leaders ul li.sony a:hover{
	background: #f1f1f1 url(/img/leaders/S/sony.jpg) 3px 3px no-repeat;
}
html .leaders ul li.sun a,
html .leaders ul li.sun_microsystems a:hover{
	background: #f1f1f1 url(/img/leaders/S/sun.jpg) 3px 3px no-repeat;
}
html .leaders ul li.toshiba a:hover{
	background: #f1f1f1 url(/img/leaders/S/toshiba.jpg) 3px 3px no-repeat;
}

