/**
 * Special styles for news / posts
 */

#posts .post{
	padding:5px 0 8px 0;
	border-top:1px dotted #CCC;
}
#posts h3{
	padding:5px 0 0 0;
}
#posts p small{
	padding:2px 0 2px 0;
}
#posts .post img{
	max-width:200px;
	height: auto;
	float:right;
	margin:5px;
	padding:2px;
	border:1px double #CCC;
}
#posts .post p{
	padding:2px 0;
}
#posts .post object{
	margin-left:50px;
}