/***********************************************************************************
 * Registration Page
 ***********************************************************************************/
#register{
	margin-bottom:10px;
}
#register fieldset legend{
  border:1px solid #FFF;
  padding-left:28px;
}
#register fieldset legend.login{
  background: #FFF url(/img/icons/S/user_green.png) 5px 2px no-repeat;
}
#register fieldset legend.geolocation{
  background: #FFF url(/img/icons/S/world.png) 5px 2px no-repeat;
}
#register fieldset legend.profile{
  background: #FFF url(/img/icons/S/profile_add.png) 5px 2px no-repeat;
}
#register fieldset legend.legal{
  background: #FFF url(/img/icons/S/information.png) 5px 2px no-repeat;
}
#register form input.submit{
  float:right;
  margin-right:10px;
  width:auto;
}

/* wizard */
#register .wizard ul{
  margin:5px 5px 10px 2px;
  padding:0;
  float:left;
}
#register .wizard ul li{
  list-style-type:none;
  float: left;
  margin:0;
  padding:0;
  font-size:1.4em;
  color:#AAA;
  min-width:185px;
}
#register .wizard ul li.current{
  color:#777;
}
#register .wizard ul li.current .step{
  color:#FFF;
  background:#97acaf url(/img/layout/bg_arrow2.png) right center no-repeat;
}
#register .wizard ul li .step{
	float:left;
	padding:4px 20px 4px 8px;
	margin-right:5px;
  font-size:.9em;
  background:#EEE url(/img/layout/bg_arrow.png) right center no-repeat;
 }
 #register .wizard ul li span,
 #register .wizard ul li a{
	float:left;
	padding:4px 20px 5px 5px;
 }
